body{
    background-color: #f9f8e6;
}
h1{
    color: #000033;
}
button{
    background-color: #ffa550 !important;
}
.card{
    transition: opacity 0.5s ease;
    opacity: 0;
}
#registrationSection{
    transition: opacity 0.5s ease;
    opacity: 1;
}